@font-face {
  font-family: "GabaritoExtraBold";
  src: url("/fonts/Gabarito-ExtraBold.woff2");
}

@font-face {
  font-family: "GabaritoSemiBold";
  src: url("/fonts/Gabarito-SemiBold.woff2");
}

.logo a {
  font-weight: 800;
  font-size: 1.5em;
  font-family: "GabaritoExtraBold", sans-serif;
}

.inputform{
  background: #1E1E1E;
  border-radius: 10px;
  margin: 0px 0px 10px 0px;
  padding: 10px 18px;
  width: 100%;
  font-family: "GabaritoSemiBold";
  border: 3px solid rgb(196, 196, 197);
  font-style: rgb(218, 218, 219);
  color: rgb(218, 218, 219);
}

.textareaform{
  background: #1E1E1E;
  border-radius: 10px;
  margin: 0px 0px 10px 0px;
  padding: 10px 18px;
  width: 100%;
  height: 100px;
  font-family: "GabaritoSemiBold";
  resize: none;
  border: 3px solid rgb(196, 196, 197);
  font-style: rgb(218, 218, 219);
  color: rgb(218, 218, 219);
}

.buttonform{
  background-color: #1E1E1E;
  border-radius: 10px;
  margin: 0px 0px 10px 0px;
  padding: 10px;
  text-align: center;
  color: rgb(218, 218, 219);
  display: inline-block;
  font-size: 18px;
  width: 100%;
  font-weight: bold;
  font-family: "GabaritoExtraBold";
  border: 3px solid rgb(196, 196, 197);
}

p{
  text-align: justify;
}

::placeholder{
  color: rgb(196, 196, 197);
  opacity: 1;
}

.inputform:focus{
  border: 3px solid rgb(46, 46, 51);
}

.inputform:hover{
  border: 3px solid rgb(46, 46, 51);
}

.textareaform:focus{
  border: 3px solid rgb(46, 46, 51);
}

.textareaform:hover{
  border: 3px solid rgb(46, 46, 51);
}

.buttonform:hover{
  border: 3px solid rgb(46, 46, 51);
  background-color: rgb(218, 218, 219);
  color: #1E1E1E;
}

.rowimggrid{
  content: "";
  display: table;
  clear: both;
}

.columnimggrid{
  float: left;
  width: 33%;
  padding: 10px;
}

.entry-link{
  border: 3px solid rgb(196, 196, 197);
  border-radius: 10px;
}

#menu a {
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  font-family: "GabaritoSemiBold";
}

#menu .active {
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid currentColor;
  font-family: "GabaritoSemiBold", sans-serif;
}

.page-header h1, .post-title {
  font-weight: 800;
  font-family: "GabaritoExtraBold", sans-serif;
  text-transform: uppercase;
  /* border-bottom: 2px solid currentColor; */
  /* border-top: 2px solid currentColor; */
  text-align: left;
  font-size: 1.5em;
}

.entry-header{
  font-size: 1em;
  font-family: "GabaritoSemiBold", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.post-entry {
  background-color: #1E1E1E;
}

.entry-header h2 {
  font-size: 1em;
  color: rgb(245, 245, 245);
}

.post-content h3 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "GabaritoSemiBold", sans-serif;
}

/* .post-content strong {
  font-weight: 700;
  font-family: "GabaritoExtraBold", sans-serif;
  font-style: normal;
} */

:root {
  --theme: rgb(245, 245, 245);
}

.dark {
  --primary: white;
}

.full-height-screen {
  min-height: 100vh;
  align-content: center;
}

.header, .footer, .bg-accent {
  background-color: var(--border);
}

.bg-accent {
  margin-left: -1000%;
  margin-right: -1000%;
  padding-right: 1000%;
  padding-left: 1000%;
}

.footer {
  max-width: none;
}

.header {
  width: 100%;
}

.main {
  padding: 0% 20px;
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}