@font-face {
	font-family: "PoppinsExtraBold";
	src: url("/fonts/Poppins-ExtraBold.ttf");
}

@font-face {
	font-family: "PoppinsSemiBold";
	src: url("/fonts/Poppins-SemiBold.ttf");
}

:root {
	--theme: white;
	--main-width: 1024px;
	--header-height: 96px;
}

.dark {
	--primary: white;
	--theme: #111F32;
}

body {
	overflow-x: hidden;
	/* Hide horizontal scrollbar */
	background-image: url('/images/background.png');
	background-repeat: no-repeat;
	background-color: #3b4151;
	background-size: cover;
}

.main {
	max-width: unset;
	padding: 0 8px;
	margin-top: calc(var(--header-height) * 2);
}

.nav {
	max-width: none;
}

.logo a img {
	height: 3em;
}

.nav a span {
	font-size: 2rem;
	text-transform: uppercase;
	font-family: "PoppinsExtraBold";
	color: white;
}

.header {
	width: 100%;
	position: fixed;
	top: 0;
}

.full-height-screen {
	min-height: 100vh;
	align-content: center;
}

.container {
	width: 80%;
	margin: auto;
}

.half-width {
	width: 50%;
}

.vertical-bar {
	border-left: 4px solid white;
	padding-left: 1em;
}

.large-heading-text {
	line-height: 1em;
	font-size: 4rem;
	font-family: "PoppinsSemiBold";
	color: white;
}

.button {
	background-color: #00000080;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-family: "PoppinsExtraBold";
	border: 3px solid white;
	width: 100%;
	margin: 0;
}

.blurry-background {
	background-color: #00000040;
	text-align: center;
	box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .2), -1px -1px 4px 1px rgba(0, 0, 0, .20);
	border-radius: 12px;
	backdrop-filter: blur(1px);
	border: 1px solid rgb(0 0 0 / 10%);
}

.divider {
	font-size: 3em;
	font-weight: bold;
	line-height: 1em;
	margin: 5em 0 1.5em;
	display: flex;
}

.divider .text-container {
	width: 50%;
	border-bottom: 4px solid white;
}


.divider .mountain {
	width: 25%;
	height: 100%;
	margin-top: auto;
}

.divider.flipped {
	transform: scaleX(-1);
	filter: FlipX;
}

.divider.flipped .text-container .text {
	text-align: right;
	transform: scaleX(-1);
}

.header-title {
	font-weight: bold;
	font-size: 8em;
	text-align: center;
	text-transform: uppercase;
	font-family: "PoppinsExtraBold";
	color: #ffffff80;
	line-height: 1em;
}

.header-subtitle {
	font-size: 2em;
	color: #ffffff30;
}

.service-card {
	width: 48%;
	height: 12em;
	margin: 0 1% 2em 1%;
	padding: 1em;
}

.service-card .service-heading {
	display: flex;
}

.service-card .service-heading img {
	width: 4em;
}

.service-title {
	font-weight: bold;
	font-size: 2em;
	height: 2em;
	line-height: 2em;
	text-align: start;
	width: 100%;
	padding: 0 0.5em;
}

.service-content {
	margin: 0.5em;
	font-weight: bold;
	text-align: start;
}

.client-logo {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: auto;
	height: 100%;
	width: 100%;
}

.client-showcase {
	margin: 0 auto;
	border-radius: 12px;
	width: 100%;
	height: 24em;
	overflow: hidden;
	position: relative;
	background-color: black;
}

.client-showcase img {
	position: absolute;
	animation: round 48s infinite;
	opacity: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.client-showcase img:nth-child(1) {
	animation-delay: 42s;
}

.client-showcase img:nth-child(2) {
	animation-delay: 36s;
}

.client-showcase img:nth-child(3) {
	animation-delay: 30s;
}

.client-showcase img:nth-child(4) {
	animation-delay: 24s;
}

.client-showcase img:nth-child(5) {
	animation-delay: 18s;
}

.client-showcase img:nth-child(6) {
	animation-delay: 12s;
}

.client-showcase img:nth-child(7) {
	animation-delay: 6s;
}

.client-showcase img:nth-child(8) {
	animation-delay: 0s;
}


@keyframes round {
	25% {
		opacity: 1;
	}

	40% {
		opacity: 0;
	}
}

.contact-marmot {
	background-image: url(/images/marmot-contact.svg);
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 1em;
}

.contact-area {
	width: 65%;
	margin-left: auto;
}

.contact-area h3 {
	margin-bottom: 1em;
	background-color: white;
	padding: 10px 18px;
	border-radius: 10px;
	text-align: left;
	color: #225987;
}

input.contact-form,
textarea.contact-form {
	background: #ffffff20;
	border-radius: 10px;
	margin: 0px 0px 10px 0px;
	padding: 10px 18px;
	width: 100%;
	font-family: "PoppinsSemiBold";
	resize: none;
	border: 2px solid rgb(196, 196, 197);
	color: white;
}

input.contact-form::placeholder,
textarea.contact-form::placeholder {
	color: rgba(194, 194, 194);
	opacity: 1;
	/* Firefox */
}

textarea.contact-form {
	height: 100px;
}

@media (max-width: 984px) {
	.hide-on-small-screens {
		display: none;
	}

	.margin-top-small-screen {
		margin-top: -64px;
	}

	.contact-area {
		width: 100%;
	}

	.divider {
		width: 100%;
	}

	.header-title {
		font-size: 6em;
	}
}

@media (max-width: 1680px) {
	.divider .text-container {
		border-bottom: 3px solid white;
	}
}

@media (max-width: 1200px) {
	.divider .text-container {
		border-bottom: 2px solid white;
	}
}

@media (max-width: 640px) {

	.full-width-on-small-screens {
		width: 100%;
	}

	.divider .text-container {
		width: 75%;
	}

	.almost-full-width-on-small-screens {
		width: 90%;
	}

	.header {
		position: static;
	}

	.header-title {
		font-size: 4em;
	}

	.service-card {
    	width: 98%;
	}

	.nav a span {
		font-size: 1.5em;
	}

	.nav {
  		overflow: scroll;
	}

	.service-card .service-heading img {
		width: 2em;
	}

	.large-heading-text {
		text-align: center;
	}

	.service-title {
		font-size: 1em;
		height: 1em;
		line-height: 2em;
	}

	.vertical-bar {
		border-left: none;
		padding-left: 0;
		border-top: 4px solid white;
		padding-top: 4em;
		margin-top: 1em;
	}

	.header-subtitle {
		font-size: 1em;
	}

	.divider .text-container {
		border-bottom: 1px solid white;
	}

	.divider {
		margin: 2em 0 1.5em;
	}

	.main {
		margin-top: 48px;
	}
}