{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}

<script defer crossorigin="anonymous" src="js/mountains-slide.js"></script>

<script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.9/glider.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/glider-js@1.7.9/glider.min.css" rel="stylesheet">
<style>.glider-prev, .glider-next {
  top: 0%;
  height: 100%;
}</style>
