<div class="alps-divider">
    <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	    width="126px" height="64px" viewBox="0 123.3155 480 246.631"
	    xml:space="preserve">
        <g>
        	<g>
                <path class="mountain" d="M206.196,119.342L0,373.92h221.797l95.299-117.658L206.196,119.342z"/>
	    	    <path class="mountain-top" d="M219.59,230.766l-13.394,52.459l-13.394-52.459
    	    		l-52.157,19.027l65.551-80.93l65.552,80.93L219.59,230.766z"/>

                <path class="mountain" d="M372.152,224.391L251.04,373.918l242.222,0.002L372.152,224.391z"/>
	        	<path class="mountain-top" d="M372.152,320.648l-7.867-30.812l-30.637,11.176
        			l38.504-47.535l38.5,47.535l-30.635-11.176L372.152,320.648z"/>
	        </g>
        </g>
    </svg>
</div>

<style>
    .alps-divider {
        align-content: center;
    }

    .alps-divider svg{
        float: left;
    }

    .bg-accent .alps-divider svg {
        float: right;
        transform: scaleX(-1);
    }

    .mountain  {
        fill: var(--border);
    }

    .bg-accent .mountain  {
        fill: var(--theme);
    }

    .mountain-top {
        fill: var(--primary);
    }
    
</style>