{{- define "main" }} 
    {{- $pages := union .RegularPages .Sections }} 
    {{- $paginator := .Paginate $pages }} 
    {{- if and .IsHome site.Params.homeInfoParams (eq $paginator.PageNumber 1) }} 
    {{- partial "home_info.html" . }} 
    {{- end }}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 full-height-screen">
                {{ partial "animated-logo.html" . }}

                <br>
                <span><b>We are game development pipeline specialists with expertise in Unreal Engine, deep learning, procedural generation and optimisation.</b></span> 
                <br>
                <br>                
                <span>Our studio is nestled in the <b>Austrian Alps</b>, providing an inspiring and tranquil environment where creativity and innovation flourish.</span>
            </div>
            {{ partial "mountain-separator.html" . }}
        </div>


        {{ partial "about.html" . }}

        {{ partial "team.html" . }}

        {{ partial "contact.html" . }}
        
    </div>

    <style>
        html {
            scroll-behavior: smooth;
        }

        h3 {
            text-align: center;
            margin: 2rem;
            font-size: xxx-large;
        }
    </style>

    <script>
        function fadeOutOnScroll(element) {
            if (!element) {
                return;
            }
        
            var distanceToHalfWayScreen = window.scrollY + (window.innerHeight * 0.5);
            var distanceToBottom = distanceToHalfWayScreen - element.getBoundingClientRect().bottom;
            var scrollTop = document.documentElement.scrollTop;

            var amount = 1;
            if (scrollTop > distanceToBottom) {
                amount = 1 - ((scrollTop - distanceToBottom) / (window.innerHeight * 0.5));
                amount = Math.min(Math.max(amount, 0.0), 1.0);
            }
        
            element.style.opacity = amount;

            var multiplyier = 1;
            if (Boolean(element.closest(".bg-accent"))) {
                multiplyier = -1;
            }

            element.style.transform = "translateX(" + (10 - 10 * amount) * multiplyier + "%)";
        }

        var alpsdivider = document.getElementsByClassName('alps-divider');
        for(var i = 0; i < alpsdivider.length; i++) {
            fadeOutOnScroll(alpsdivider[i]);
        }

        function scrollHandler() {
            for(var i = 0; i < alpsdivider.length; i++) {
                fadeOutOnScroll(alpsdivider[i]);
            }
        }
        window.addEventListener('scroll', scrollHandler);
</script>

{{- end }}