{{- define "main" }} 
    {{- $pages := union .RegularPages .Sections }} 
    {{- $paginator := .Paginate $pages }} 
    {{- if and .IsHome site.Params.homeInfoParams (eq $paginator.PageNumber 1) }} 
    {{- partial "home_info.html" . }} 
    {{- end }}

    <div class="container">
        {{ range $index, $element :=  where .Site.RegularPages "Type" "landing" }}
            {{ if modBool $index 2 }}
                <div class="row">
            {{ else }}
                <div class="row bg-accent">
            {{ end }}
                {{ .Content }}            
                {{ partial "mountain-separator.html" . }}
            </div>
        {{ end }}        
    </div>

    <style>
        html {
            scroll-behavior: smooth;
        }

        h3 {
            text-align: center;
            margin: 2rem;
            font-size: xxx-large;
        }

        .header {
            position: fixed;
            z-index: 9999;
        }
    </style>

    <script defer crossorigin="anonymous" src="js/mountains-slide.js"></script>
{{- end }}