{{- define "main" }}
    {{- $pages := union .RegularPages .Sections }}
    {{- $paginator := .Paginate $pages }}
    {{- if and .IsHome site.Params.homeInfoParams (eq $paginator.PageNumber 1) }}
    {{- partial "home_info.html" . }}
    {{- end }}

    <div class="top-background"></div>
    <div class="parallax-layer">{{ partial "images/scenery.svg" }}</div>
    <div class="container">
        {{ range $index, $element :=  where .Site.RegularPages "Type" "landing" }}
            {{ if or (eq $index 0) (eq $index 1) }}
                <div class="row content-row">
            {{else}}
                <div class="row content-row top-margin">
            {{end}}
                {{ .Content }}
            </div>
        {{ end }}
    </div>
    <div class="bottom-background"></div>
    <script>
        function parallaxScrollHandler() {
            var layers = document.getElementsByClassName('parallax-layer');
            for(var i = 0; i < layers.length; i++) {
                //layers[i].style.transform = "translateY(-" + window.pageYOffset + "px)";
            }
        }

        function correctHeight() {
            var layers = document.getElementsByClassName('parallax-layer');
            var longestLayer = 0;
            for(var i = 0; i < layers.length; i++) {
                if (layers[i].clientHeight > longestLayer) {
                    longestLayer = layers[i].clientHeight;
                }
            }
            var rows = document.getElementsByClassName('content-row');
            if (rows.length > 1) {
                rows[0].style.height = Math.max(rows[0].clientHeight, longestLayer)+"px";
            }
        }

        window.addEventListener('scroll', parallaxScrollHandler);
        parallaxScrollHandler();

        window.addEventListener('resize', correctHeight);
        correctHeight();
    </script>
{{- end }}