
<canvas id="canvas" width="1920" height="1080" style="width:100%;"></canvas>
<script type="module">
    import { DotLottie } from "https://cdn.jsdelivr.net/npm/@lottiefiles/dotlottie-web/+esm";

    document.getElementById("canvas")

    var lottie = new DotLottie({
        autoplay: true,
        loop: false,
        useFrameInterpolation: true,
        canvas: document.getElementById("canvas"),
        src: "/images/dayiii_logo_anim_intro.json", // or .json file
    });

    lottie.addEventListener('complete', () => {
        lottie.destroy();
        new DotLottie({
            autoplay: true,
            loop: true,
            speed: 0.9,
            canvas: document.getElementById("canvas"),
            src: "/images/dayiii_logo_anim_endloop.json", // or .json file
        });
    })
</script>
