<div class="rowimggrid">
    <div class="columnimggrid">
        <img src="{{ relURL `/imagegrid/img1.jpg` }}">
        <img src="{{ relURL `/imagegrid/img2.jpg` }}">
        <img src="{{ relURL `/imagegrid/img3.jpg` }}">
    </div>
    <div class="columnimggrid">
        <img src="{{ relURL `/imagegrid/img4.jpg` }}">
        <img src="{{ relURL `/imagegrid/img5.jpg` }}">
        <img src="{{ relURL `/imagegrid/img6.jpg` }}">
    </div>
    <div class="columnimggrid">
        <img src="{{ relURL `/imagegrid/img7.jpg` }}">
        <img src="{{ relURL `/imagegrid/img8.jpg` }}">
        <img src="{{ relURL `/imagegrid/img9.jpg` }}">
    </div>
  </div>